In [1]:
import pandas as pd

practice = pd.DataFrame({'날짜':[], '운동':[], '양':[]})
practice

Empty DataFrame
Columns: [날짜, 운동, 양]
Index: []

In [2]:
practice.loc[0] = ['22-3-1', '달리기', 1.]
practice

       날짜   운동    양
0  22-3-1  달리기  1.0

In [3]:
practice.loc[1] = ['22-3-2', '걷기', 1.]
practice.loc[2] = ['22-3-2', '달리기', 1.]
practice.loc[3] = ['22-3-2', '계단오르기', 1.]
practice

       날짜     운동    양
0  22-3-1    달리기  1.0
1  22-3-2     걷기  1.0
2  22-3-2    달리기  1.0
3  22-3-2  계단오르기  1.0

In [4]:
practice.loc[4] = ['22-3-3', '걷기', 1.5]
practice.loc[5] = ['22-3-3', '달리기', 1.]
practice

       날짜     운동    양
0  22-3-1    달리기  1.0
1  22-3-2     걷기  1.0
2  22-3-2    달리기  1.0
3  22-3-2  계단오르기  1.0
4  22-3-3     걷기  1.5
5  22-3-3    달리기  1.0

In [5]:
practice.to_csv("./data/practice.csv", encoding='utf-8')

In [6]:
pd.read_csv("./data/practice.csv", encoding='utf-8')

   Unnamed: 0      날짜     운동    양
0           0  22-3-1    달리기  1.0
1           1  22-3-2     걷기  1.0
2           2  22-3-2    달리기  1.0
3           3  22-3-2  계단오르기  1.0
4           4  22-3-3     걷기  1.5
5           5  22-3-3    달리기  1.0

In [7]:
pd.read_csv("./data/practice.csv", index_col=0, encoding='utf-8')

       날짜     운동    양
0  22-3-1    달리기  1.0
1  22-3-2     걷기  1.0
2  22-3-2    달리기  1.0
3  22-3-2  계단오르기  1.0
4  22-3-3     걷기  1.5
5  22-3-3    달리기  1.0

In [8]:
practice = pd.read_csv("./data/practice.csv", index_col=0, encoding='utf-8')
practice

       날짜     운동    양
0  22-3-1    달리기  1.0
1  22-3-2     걷기  1.0
2  22-3-2    달리기  1.0
3  22-3-2  계단오르기  1.0
4  22-3-3     걷기  1.5
5  22-3-3    달리기  1.0

In [9]:
practice.loc[6] = ['22-3-4', '걷기', 1.5]
practice.loc[7] = ['22-3-5', '달리기', 1.]
practice.loc[8] = ['22-3-6', '걷기', 2.5]
practice.loc[9] = ['22-3-6', '달리기', 0.5]
practice

       날짜     운동    양
0  22-3-1    달리기  1.0
1  22-3-2     걷기  1.0
2  22-3-2    달리기  1.0
3  22-3-2  계단오르기  1.0
4  22-3-3     걷기  1.5
5  22-3-3    달리기  1.0
6  22-3-4     걷기  1.5
7  22-3-5    달리기  1.0
8  22-3-6     걷기  2.5
9  22-3-6    달리기  0.5

In [10]:
practice.pivot_table(index='운동')

           양
운동
걷기     1.625
계단오르기  1.000
달리기    0.900

In [11]:
import numpy as np
practice.pivot_table(index='운동', aggfunc=np.sum)

         양
운동
걷기     6.5
계단오르기  1.0
달리기    4.5

In [12]:
practice.pivot_table(index='운동', aggfunc=[np.sum, len])

       sum len
         양  날짜  양
운동
걷기     6.5   4  4
계단오르기  1.0   1  1
달리기    4.5   5  5

In [13]:
practice.pivot('날짜', '운동', '양')

운동       걷기  계단오르기  달리기
날짜
22-3-1  NaN    NaN  1.0
22-3-2  1.0    1.0  1.0
22-3-3  1.5    NaN  1.0
22-3-4  1.5    NaN  NaN
22-3-5  NaN    NaN  1.0
22-3-6  2.5    NaN  0.5

In [14]:
prac_pivot = practice.pivot('날짜', '운동', '양')
prac_pivot.fillna(0, inplace=True)
prac_pivot

운동       걷기  계단오르기  달리기
날짜
22-3-1  0.0    0.0  1.0
22-3-2  1.0    1.0  1.0
22-3-3  1.5    0.0  1.0
22-3-4  1.5    0.0  0.0
22-3-5  0.0    0.0  1.0
22-3-6  2.5    0.0  0.5