In [1]:
import pandas as pd

practice = pd.DataFrame({'날짜':[], '운동':[], '양':[]})
practice

Empty DataFrame
Columns: [날짜, 운동, 양]
Index: []

In [2]:
practice.loc[0] = ['22-3-1', '달리기', 1.]
practice

       날짜   운동    양
0  22-3-1  달리기  1.0

In [3]:
practice.loc[1] = ['22-3-2', '걷기', 1.]
practice.loc[2] = ['22-3-2', '달리기', 1.]
practice.loc[3] = ['22-3-2', '계단오르기', 1.]
practice

       날짜     운동    양
0  22-3-1    달리기  1.0
1  22-3-2     걷기  1.0
2  22-3-2    달리기  1.0
3  22-3-2  계단오르기  1.0

In [4]:
practice.loc[4] = ['22-3-3', '걷기', 1.5]
practice.loc[5] = ['22-3-3', '달리기', 1.]
practice

       날짜     운동    양
0  22-3-1    달리기  1.0
1  22-3-2     걷기  1.0
2  22-3-2    달리기  1.0
3  22-3-2  계단오르기  1.0
4  22-3-3     걷기  1.5
5  22-3-3    달리기  1.0

In [5]:
practice.to_csv("./data/practice.csv", encoding='utf-8')